.terraform
*.swp
*.tmp
*.tar.gz
.vscode
gen3packer/packer
gen3packer/environments
*/environments/
packer
node_modules
data_loader_persist/
data_prep/
package/
.idea
.terraform.lock.hcl
.DS_Store
envsecrets-0.*
*packer-manifest.json
venv/
